/*SETTINGS*/
html {
    --blue:rgb(12, 178, 255);
    --black: #000000; 
    --white: #f9f9f9;
    --dark:blue;
    --light: rgb(87, 219, 255);
    padding:0;
    margin: 0;
}

/*SETUP*/
* {
    box-sizing: border-box;
}
/* Adding display: block to picture and img because inline is default */
/* Adding width: 100% to image, so the image takes up width in its parent. 
Think of these as default so images don't break page */
picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    /*adding display block because they might wrap around other elements*/
    display: block;
    color: inherit;
    text-decoration: none;
}

/*STRUCTURE*/

body {
   display:flex;
   flex-direction:column; 
   margin: 0;
   /*border: 10px solid blue; */
   min-height: 100vh; /*Adding 100% viewport height so the content will at least
                      fill up all of the page. */
}

main {
    flex-grow: 1;
    /* border: 10px solid pink;*/
    /*Stretches the main area down to fill the space, allowing the footer to 
    stick to the bottom */
}
 .inner-column{
    /*border: 4px solid orange; */
    padding: 0px; 
    /* in order to center the content to the middle of the page */
    width: 98%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/*DevStyles*/ 

/* the border makes the boxes visible for beginner help */
body * {
  /*  border: 2px solid blue; 
    padding: 2px; */
}

/*TYPOGRAPHY*/

#loud-voice {
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
}

#calm-voice {
    font-size: 20px;
    line-height: 1;
}

/*COMPONENTS*/

.button {
    display: inline-block;
    background-color: rgb(126, 242, 255);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 6px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
}
.button-substack {
    display: inline-block;
    background-color: rgb(126, 242, 255);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 6px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*MODULES*/

/*MODULES HEADER*/

header {
    background-color: var(--light); 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.header-section {
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.header-left {
    font-size: 40px;
    font-weight: 800;
}

.header-list {
    display: flex;
    gap: 10px; 
}

h1{
    margin: 0;
}

/*MODULES ART*/

.about-section {
    background-color: var(--blue);
    padding: 30px;
}

.diptych {
   align-items: center; 
   gap: 20px;
}

.diptych-left {
   align-items: center;
   color: var(--white);
   letter-spacing: 1px;
   text-align: center;  
}

.about-title {
    margin: 0px;
    text-align: center;
    font-weight: 800;
}

.about-paragraph {
    margin: 10px;
}

.diptych-right {
    padding: 5px;
}

 /* Adding display flex and flex basis of 50% to get diptych-left
and diptych-right to sit next to each other. Adding a min-width of 700px to say if 
display is greater than 700px do this... This allows for screen change size*/    
@media (min-width: 700px) {
    .diptych {
        display: flex;
        gap: 20px;
    }
    .diptych-left, .diptych-right {
        flex-basis: 50%;
        }
}

/*MODULES ART*/

.art-section{
    background-color: var(--light); 
    color: var(--white);   
    padding: 20px; 
    
}

.art {
    display: flex;
    gap: 20px; 
  
}

.art-title {
    text-align: center;
    font-size: 20px;
}

.art .text {
    padding: 8px 0;
}

ul {
    list-style: none;
    margin: 16px 16px;
    padding:0;
}

li {
   flex-basis: 25%; 
    text-align: center;
}

@media (min-width: 700px) {
    .art {
    display: flex;
    gap: 20px; 
    }

}  

/*MODULES BIO*/

.bio-section {
    background-color: var(--blue);
    padding: 40px;
}

.bio-title{
    text-align: center;
    color: var(--white);
    line-height: 0%;
}

.bio-text {
   align-items: center;
   color: var(--white);
    letter-spacing: 1px; 
    margin: 0 30px;
}
    
/*MODULES SUBSTACK*/

.substack-section {
    background-color: var(--blue);
    padding: 30px;
}


.substack {
   align-items: center; 
   gap: 20px;
   background-color: var(--dark);
   border-radius: 4px;
   padding: 25px;
   text-align: center;
}
.substack-left {
    
   align-items: center;
   color: var(--white);
   letter-spacing: 1px;
   text-align: center;  
}

.substack-title {
    margin: 0px;
    text-align: center;
    font-weight: 800;
}

.substack-text {
    margin: 10px;
}

.substack-right {
    padding: 5px;
}

 /* Adding display flex and flex basis of 25% to get diptych-left
and diptych-right to sit next to each other. Adding a min-width of 700px to say if 
display is greater than 700px do this... This allows for screen change size*/    
@media (min-width: 700px) {
    .substack { 
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    .substack-left, .substack-right {
        flex-basis: 25% 75%;
        }
}

/*MODULES FOOTER*/

.footer {
    background-color: var(--blue); 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6px;
    text-align: center;
    color: var(--white);
    padding: 5px;
}

 /*   
header, footer, main {
    border: 4px solid red;
    
}

section {
    border: 4px solid lime;
} */