/*SETUP*/
* {
    box-sizing: border-box;
}
/* Adding display: block to picture and img because inline is default */
/* Adding width: 100% to image, so the image takes up width in its parent. 
Think of these as default so images don't break page */
picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}


/*STRUCTURE*/

body {
   display:flex;
   flex-direction:column; 
   border: 10px solid blue;
   min-height: 100vh; /*Adding 100% viewport height so the content will at least
                      fill up all of the page. */
}

main {
    flex-grow: 1;
    border: 10px solid pink;
    /*Stretches the main area down to fill the space, allowing the footer to 
    stick to the bottom */
}
 .inner-column{
    border: 4px solid orange;
    padding: 10px;
}
/*DevStyles*/ 
/* the border makes the boxes visible for beginner help */
body * {
    border: 2px solid blue;
    padding: 2px;
}
/*Components*/

/*Modules*/



.diptych {
   
}
.diptych diptych-left {

}
.diptych diptych-right {
    
}

.diptych-left, .diptych-right {

    }
 
 /* Adding display flex and flex basis of 50% to get diptych-left
and diptych-right to sit next to each other. Adding a min-width of 700px to say if 
display is greater than 700px do this... This allows for screen change size*/    
@media (min-width: 700px) {
    .diptych {
        display: flex;
    }
    .diptych-left, .diptych-right {
        flex-basis: 50%;
        }
}










header, footer, main {
    border: 4px solid red;
}

section {
    border: 4px solid lime;
}